body {
  background-color: white;
  color: black;
  padding: 50px;
  font-family: Arial;
}
table, th, td {
  border: 1px solid black;
  padding: 20px;
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

#item-header {
  text-align: center;
  font-size: larger;
}

#new-item-link{
  padding: 10px;
}

#home-link{
  padding: 10px;
}
