body {
  background-color: white;
  color: black;
  padding: 50px;
  font-family: Arial;
}

table, th, td {
  border: 1px solid black;
  padding: 20px;
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

#item-header {
  text-align: center;
  font-size: larger;
}

#new-item-link {
  padding: 10px;
}

#home-link {
  padding: 10px;
}

input:focus {
  border: 3px solid #555;
  border-radius:10px;
}

input[type=button], input[type=submit] {
  background-color: blue;
  border: none;
  color: white;
  margin: 4px 2px 0 55px;
}

input {
    width: 20%;
    padding: 8px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius:10px;
}
